<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="home">
    <div class="chat-container">       
        <div class="chat-output" id="chat-output">
            <div class="warning-message" id="warning-message">
                <strong>Let op:</strong> NovaSkinGPT is een AI-chatbot. Hoewel meestal accuraat, kan het voorkomen dat de gegenereerde antwoorden niet volledig nauwkeurig zijn. Dank voor uw begrip.
            </div>
            <div class="message bot" id="greeting"><strong>NovaSkin:</strong> Welkom bij NovaSkinGPT, uw virtuele assistent! Als onderdeel van onze orthomoleculaire dermatologische huidpraktijk ben ik hier om u te helpen met uw huidverzorgingsvragen. Aarzel niet om te vragen naar huidverzorging, behandelopties of andere zaken gerelateerd aan onze praktijk. Laten we samenwerken voor uw stralende huid!<span class="timestamp-greeting" style="float: left;"></span></div>
        </div>
        <div class="chat-input">
            <div class="char-counter"> <span id="char-counter">0/140 karakters</span> </div>
            <div class="typing-indicator" id="typing-indicator">NovaSkin is typing...</div>
            <input type="text" id="input-message" placeholder="Type your message here..." onkeydown="disableInput()" />
            <button id="send-btn">Send</button>
        </div>
    </div>

    <script src="/static/js/chatbot.js"></script>
</body>
</html>
